{%- assign object      = include -%}
{%- assign columns      = include.columns      | default: 2 -%}
{%- assign content      = include.content      | default: ' ' -%}
{%- assign colsize      = include.colsize      | default: '' -%}
{% assign defclass     = include.defclass   | default: 'columns'  %}




  <div {% include bloocks/helpers/htmltag/htmltag.html
    id=include.id
    style=include.style
    defclass=defclass
    class=include.class
    proprieties=include.proprieties
  %}>
        <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid
          style=include.colstyle
          defclass='column'
          class=include.colsize
          proprieties=include.colproprieties
        %}>
          {{ include.content }}
          {%- assign i = 2 -%}          
        </div>               
        {%- for i in (2..columns) -%}  
        
          {% capture id %}        
          {% include bloocks/helpers/htmltag/cycleinclude.html
            object=include
            index=i
            content='colid'
          %}{% endcapture %}
          {% capture style %}        
          {% include bloocks/helpers/htmltag/cycleinclude.html
            object=include
            index=i
            content='colstyle'
          %}{% endcapture %}
          {% capture class %}        
          {% include bloocks/helpers/htmltag/cycleinclude.html
            object=include
            index=i
            content='colsize'
          %}{% endcapture %}
          {% capture proprieties %}        
          {% include bloocks/helpers/htmltag/cycleinclude.html
            object=include
            index=i
            content='colproprieties'
          %}{% endcapture %}
          {% capture colcontent %}        
          {% include bloocks/helpers/htmltag/cycleinclude.html
            object=include
            index=i
            content='content'
          %}{% endcapture %}

          <div {% include bloocks/helpers/htmltag/htmltag.html
            id=id
            style=style
            defclass='column'
            class=class
            proprieties=proprieties
          %}> 
          {{ colcontent }}
        </div>
          

        {%- endfor -%}
  </div>