{%- assign columns      = site.data.modal.columns      | default: 1 -%}
{%- assign modalhero      = site.data.modal.modalhero -%}
{%- assign backgroundimage      = site.data.modal.modalhero.backgroundimage  -%}
{%- assign sepclass      = site.data.modal.modalhero.sepclass | default: 'is-fullheight-with-navbar' -%}
{%- assign bgcolor      = site.data.modal.modalhero.bgcolor -%}
{%- assign style      = site.data.modal.modalhero.style -%}
{% assign modalmethod = site.data.modal.modalhero.modalmethod | default: 'timed' %}
{% assign modaltrigger = site.data.modal.modalhero.modaltrigger | default: '3000' %}
{% assign modalfrequency = site.data.modal.modalhero.modalfrequency | default: '1' %}
{% assign modalanimation = site.data.modal.modalhero.modalanimation | default: 'bd-focus-css3' %}
{% assign iconcolor          = site.data.bloockscolor.colors[site.data.modal.modalhero.iconcolor] | default: 'is-dark' %}

{% case modalmethod %}
  {% when "timed" %}
    <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}{{ modaltrigger }}" class="modal-monitor hero {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="{{ modaltrigger }}" data-frequency="{{ modalfrequency }}">

  {% when "scroll" %}
     <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}{{ modaltrigger }}" class="modal-monitor hero {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="{{ modaltrigger }}" data-frequency="{{ modalfrequency }}">

  {% when "exit" %}
     <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}" class="modal-monitor hero {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="" data-frequency="{{ modalfrequency }}">
{% endcase %}
<!--{%- if site.data.modal.bgimage -%}
{% capture backgroundimage %}
{% cloudinary {{ modalhero.bgimage }} class="hero-background is-transparent" alt="Background image!" %}
{% endcapture %}
{%- endif -%}-->
<div {% if modalhero.id %}id="{{ modalhero.id }}" {% endif %}{% if modalhero.style %}style="{{ modalhero.style }}" {% endif %}class="hero {% if modalhero.bgimage %}has-background {% endif %}{{ modalhero.bgcolor }} {% if modalhero.bold %}is-bold {% endif %}{{ class }}{% if modalhero.bgcolor=='bd-rainbow' %} bd-is-love{% endif %}"{% if modalhero.proprieties %} {{ modalhero.proprieties }}{% endif %}> 
  {% if modalhero.bgimage %}{{ modalhero.backgroundimage }}{% endif %}
    
    <div class="hero-head">
      {%- if modalhero.herohead or modalhero.iwanticonup=="true" -%}
      <div class="container {% if modalhero.headcenter %}has-text-centered{% endif %}">
        {%- if modalhero.iwanticon=="true" and modalhero.iwanticonup=="true" -%}
        <div class="{{  modalhero.iconhide }} mt-3 pt-3 {{  modalhero.iconclass }}" style="{% if include.iconcss %}{{  modalhero.iconcss }}{% endif %} font-size: {{  modalhero.iconzoom }}; color: rgba({{ iconcolor.rgb }}, {{  modalhero.icontrans }}); z-index:{{  modalhero.icozindex }}; position: absolute;
        {% case iconposition %}
            {% when 'top' %}
                top: {{  modalhero.iconmarginv }}; 
            {% when 'bottom' %}
                bottom: {{  modalhero.iconmarginv }}; 
        {% endcase %}
        {% case iconalign %}
            {% when 'left' %}
            left: {{  modalhero.iconmargin }}; {% when 'right' %}right: {{  modalhero.iconmargin }};
        {% endcase %}
        ">
        <i class="{{  modalhero.iconstyle }} {{  modalhero.icon }} fa-{{  modalhero.iconsize }}x {% if include.fixedwith %}fa-fw{% endif %}"></i>
    </div>
        {%- endif -%}
        {{  modalhero.herohead }}
      </div>
      {%- endif -%}      
    </div>
  
    <div class="hero-body">
      {%- if columns == 1 -%}
      <div class="container{% if modalhero.modalhero.textcenter %} has-text-centered{% endif %}{% if modalhero.modalhero.aligncenter %} is-vcentered{% endif %}">
        {% for modal in site.data.modal.columns %}
          {% assign name = modal.name %}
          {% for column in modal.bloocks %}
            {% assign bloock = column.bloock %}
            {% assign content = column.content %}
            {% assign type = column.type %}
            {% assign bname = column.bname %}    
              {% case type %}
                {% when "include" %} 
                  {% include {{ bloock }} content=content %}
                {% when "html" %}
                  {{ content }}
                {% when "cloudinary" %}
                  {% cloudinary {{ content }} %}
              {% endcase %}       
          {% endfor %}
      {% endfor %}
      </div>  
      {%- else columns > 1 -%}
      <div class="container {% if site.data.modal.modalhero.textcenter %}has-text-centered{% endif %}">
        <div class="columns {{ site.data.modal.modalhero.colsclass }}{% if site.data.modal.modalhero.aligncenter %} is-vcentered{% endif %}">
          {% for modal in site.data.modal.columns %}
          {% assign name = modal.name %}
          <div class="column {{ modal.colclass }}">
            {% for column in modal.bloocks %}
            {% assign bloock = column.bloock %}
            {% assign content = column.content %}
            {% assign type = column.type %}
            {% assign bname = column.bname %}    
              {% case type %}
                {% when "include" %} 
                  {% include {{ bloock }} content=content %}
                {% when "html" %}
                  {{ content }}
                {% when "cloudinary" %}
                  {% cloudinary {{ content }} %}
              {% endcase %}       
          {% endfor %}   
          </div> 
          {% endfor %}               
        </div>
      {%- endif -%}
      </div>
    </div>

  

  {%- if site.data.modal.modalhero.herofoot or site.data.modal.modalhero.iwanticondown=="true" -%}
  <div class="hero-foot">
    <div class="container {% if site.data.modal.modalhero.footcenter %}has-text-centered{% endif %}">
      {%- if site.data.modal.modalhero.iwanticon=="true" and site.data.modal.modalhero.iwanticondown=="true" -%}
      <div class="{{  modalhero.iconhide }} mt-3 pt-3 {{  modalhero.iconclass }}" style="{% if include.iconcss %}{{  modalhero.iconcss }}{% endif %} font-size: {{  modalhero.iconzoom }}; color: rgba({{  modalhero.iconcolor.rgb }}, {{  modalhero.icontrans }}); z-index:{{  modalhero.icozindex }}; position: absolute;
      {% case iconposition %}
          {% when 'top' %}
              top: {{  modalhero.iconmarginv }}; 
          {% when 'bottom' %}
              bottom: {{  modalhero.iconmarginv }}; 
      {% endcase %}
      {% case iconalign %}
          {% when 'left' %}
          left: {{  modalhero.iconmargin }}; {% when 'right' %}right: {{  modalhero.iconmargin }};
      {% endcase %}
      ">
      <i class="{{  modalhero.iconstyle }} {{  modalhero.icon }} fa-{{  modalhero.iconsize }}x {% if modalhero.fixedwith %}fa-fw{% endif %}"></i>
  </div>
      {%- endif -%}
      {%- if site.data.modal.modalhero.herofoot -%}<p class="{% if site.data.modal.modalhero.bgcolor=='bd-rainbow' %}has-text-white{% endif %}">{{ modalhero.herofoot }}</p>{% else %}{{ modalhero.herofoot }}{% endif %} 
    </div>
  </div> 
  {%- endif -%}
</div>

{%- if site.data.modal.modalhero.separator -%}
{%- include bloocks/helpers/separator.html 
  sepcolor=site.data.modal.modalhero.sepcolor
  separator=site.data.modal.modalhero.separator
-%}
{%- endif -%}

<div class="hero {{ site.data.modal.modalhero.sepcolor }} {{ sepclass }}">
  <div class="hero-body"><div class="container has-text-centered">
  </div></div>
</div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>


