
<!--<script src="{{ site.url }}/vendor/clipboard-1.7.1.min.js"></script>
<script src="{{ site.url }}/lib/main.js?v={{ site.time | date: '%Y%m%d%H%M' }}"></script>-->

{% include global/customscripts.html %}
{% if page.route == 'index' %}
<!--  <script src="https://player.vimeo.com/api/player.js" ></script>
  <script type="text/javascript" src="{{ site.url }}/lib/index.js?v={{ site.time | date: '%Y%m%d%H%M' }}"></script>
  <script>
    WebFontConfig = {
      google: {
        families: ['Nunito:400,700']
      }
    };
    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
   })(document);
  </script>-->
{% elsif page.doc-subtab == 'navbar' %}
  {% include examples/navbar-bottom.html %}
  <script type="text/javascript" src="{{ site.url }}/lib/navbar.js?v={{ site.time | date: '%Y%m%d%H%M' }}"></script>
{% endif %}

{% if site.fbappid %}
<div id="fb-root"></div>
{% endif %}
<!--INCLUDED IN /INCLUDES/TWITTERAPI.JS
<script async defer id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
-->
{% if site.followbox == 'true' %}
  {% include follow-buttons.html %}
{% endif %}
{% if page.route == 'index' %}
 <!-- <script type="text/javascript" defer="defer" src="https://extend.vimeocdn.com/ga/72160148.js"></script>-->
{% endif %}

{% include cookie-consent.html %}
