  <!--
  TESTING basiclightbox.electerious.com 

<link rel="stylesheet" href="{{ site.url }}/css/basicLightbox.min.css" />--> 
<link
rel="stylesheet"
href="{{ site.url }}/css/basicLightbox.min.css"
media="nope!"
onload="this.media='all'; this.onload=null;"
/>
<!--
  END TESTING basiclightbox.electerious.com 
-->

{% if page.shake == true %}
<link
rel="stylesheet"
href="{{ site.url }}/css/csshake.min.css"
media="nope!"
onload="this.media='all'; this.onload=null;"
/>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake.min.css" integrity="sha512-RliK2gk03WxUELn57ddjWLhEfhUiOZ85VvWLImFy8A7FOPMkF4Z9YGQ3VKX5jpwkEerAL6I0nC+JNeCPrxWBTw==" crossorigin="anonymous" />-->
{% endif %}
{% for item in page.css %}
<link rel="stylesheet" href="{{ item }}" />
{% endfor %}
  <!--
  TESTING form submit to google sheets  
  <script src="{{ site.url }}/js/zepto.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@aggul/jquery.serializeobject@2.0.4/jquery.serializeObject.min.js"></script>
-->
  <!--
  END TESTING basiclightbox.electerious.com 
-->