<script src="{{ site.url }}/js/basicLightbox.min.js"></script>
{% if page.anime == true %}
<!--<script rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js" integrity="sha512-LfB+BcvR3zBt7ebVskhSWiSbEUiG3p5EcCprkieldsKhBeR6wpnLi0VpWC2GNgVGWP2n/skO8Bx2oKNjUhXCkw==" crossorigin="anonymous"></script>-->
{% include anime/animejs.html %}
{% endif %}
{% if page.lightbox == true %}
<script async defer type="text/javascript" src="{{ site.url }}/js/lightbox.js"></script>
<link rel="stylesheet" href="{{ site.url }}/css/lightbox.css">
{% endif %}
{% if page.modalmonitor == true %}
{% include bloocks/helpers/modalmonitor.html %}
<script type="text/javascript" src="{{ site.url }}/js/modalmonitor.js"></script>
{% endif %}
{% if page.forms %}
{% comment %}
{% include better-forms.html %}
{% endcomment %}
{% endif %}
{% for item in page.scripts %}
<script src="{{ item }}"></script>
{% endfor %}