---
layout: blog
title: Bloocks Blog
description: Build badass and fastest marketing websites with Bloocks, a static websites generator to build Ecommerce and websites on top of tecnical performaces.
permalink: /blog/
img: assets/images/social/home.jpg
image: assets/images/social/home.jpg
custom-head:
type: 'article'
---


  <h1>Bloocks! Blog</h1>

  {% for post in site.posts %}

    <article>
  {% if post.image %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
      <amp-img src="{{ post.image }}" srcset="{{ post.image }} 750w,{{ post.image }} 1280w" width="750" height="427" layout="responsive" alt="No sleep &#39;til Brooklyn" noloading="">
      <div></div>  </amp-img> </a>
  {% endif %}

      <div>
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>        
        <p>{{ post.description | remove: '<p>' | remove: '</p>' }}</p>
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Read</a>
      </div>
      </article>
  {% endfor %}        

