{% if page.modal %}
{%- assign modalist = site.data.modals.[include.modalname] | default: site.data.modal.default -%}
{%- assign modalname = include.modalname | default:'default' -%}
{% endif %}
{%- assign columns      = site.data.modals.[modalname].columns      | default: site.data.modal.default.columns -%}
{%- assign modalhero      = site.data.modals.[modalname].modalhero | default: site.data.modal.default.modalhero -%}
{%- assign backgroundimage      = site.data.modals.[modalname].modalhero.backgroundimage  | default: site.data.modals.default.modalhero.backgroundimage -%}
{%- assign sepclass      = site.data.modals.[modalname].modalhero.sepclass | default: site.data.modals.default.modalhero.sepclass -%}
{%- assign bgcolor      = site.data.modals.[modalname].modalhero.bgcolor | default: site.data.modals.default.modalhero.bgcolor -%}
{%- assign style      = site.data.modals.[modalname].modalhero.style | default: site.data.modals.default.modalhero.style -%}
{% assign modalmethod = site.data.modals.[modalname].modalhero.modalmethod | default: site.data.modals.default.modalhero.modalmethod %}
{% assign modaltrigger = site.data.modals.[modalname].modalhero.modaltrigger | default: site.data.modals.default.modalhero.modaltrigger %}
{% assign modalfrequency = site.data.modals.[modalname].modalhero.modalfrequency | default: site.data.modals.default.modalhero.modalfrequency %}
{% assign modalanimation = site.data.modals.[modalname].modalhero.modalanimation | 'bd-focus-css3' %}
{% assign iconcolor      = site.data.bloockscolor.colors[site.data.modal.modalhero.iconcolor] | default: 'is-dark' %}

{% case modalmethod %}
  {% when "timed" %}
    <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}{{ modaltrigger }}" class="modal-monitor {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="{{ modaltrigger }}" data-frequency="{{ modalfrequency }}">

  {% when "scroll" %}
     <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}{{ modaltrigger }}" class="modal-monitor {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="{{ modaltrigger }}" data-frequency="{{ modalfrequency }}">

  {% when "exit" %}
     <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}" class="modal-monitor {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="" data-frequency="{{ modalfrequency }}">
{% endcase %}

<div {% if modalhero.id %}id="{{ modalmethod }}{{ modalhero.id }}" {% endif %}{% if modalhero.style %}style="{{ modalhero.style }}" {% endif %}class="hero {% if modalhero.bgimage %}has-background {% endif %}{{ modalhero.bgcolor }} {% if modalhero.bold %}is-bold {% endif %}{{ class }}{% if modalhero.bgcolor=='bd-rainbow' %} bd-is-love{% endif %}"{% if modalhero.proprieties %} {{ modalhero.proprieties }}{% endif %}> 
  {% if modalhero.bgimage %}
    {% cloudinary {{ modalhero.bgimage }} class="hero-background is-transparent" style="{{ modalhero.bgstyle }}" alt="Background image!" %}
  {% endif %}
    
    <div class="hero-head">
      {%- if modalhero.herohead or modalhero.iwanticonup=="true" -%}
      <div class="container {% if modalhero.headcenter %}has-text-centered{% endif %}">
        {%- if modalhero.iwanticon=="true" and modalhero.iwanticonup=="true" -%}
        <div class="{{ modalhero.iconhide }} mt-3 pt-3 {{ modalhero.iconclass }}" style="{% if include.iconcss %}{{ modalhero.iconcss }}{% endif %} font-size: {{ modalhero.iconzoom }}; color: rgba({{ iconcolor.rgb }}, {{ modalhero.icontrans }}); z-index:{{ modalhero.icozindex }}; position: absolute;
        {% case iconposition %}
            {% when 'top' %}
                top: {{ modalhero.iconmarginv }}; 
            {% when 'bottom' %}
                bottom: {{ modalhero.iconmarginv }}; 
        {% endcase %}
        {% case iconalign %}
            {% when 'left' %}
            left: {{ modalhero.iconmargin }}; {% when 'right' %}right: {{ modalhero.iconmargin }};
        {% endcase %}
        ">
        <i class="{{ modalhero.iconstyle }} {{ modalhero.icon }} fa-{{ modalhero.iconsize }}x {% if include.fixedwith %}fa-fw{% endif %}"></i>
    </div>
        {%- endif -%}
        {{  modalhero.herohead }}
      </div>
      {%- endif -%}      
    </div>
  
    <div class="hero-body">
      {%- if columns == 1 -%}
      <div class="container{% if modalhero.textcenter %} has-text-centered{% endif %}{% if modalhero.aligncenter %} is-vcentered{% endif %}">
        {% for modal in modalist.columns %}
          {% assign name = modal.name %}
          {% for column in modal.bloocks %}
            {% assign bloock = column.bloock %}
            {% assign content = column.content %}
            {% assign type = column.type | default: 'html' %}
            {% assign bname = column.bname %}    
              {% case type %}
                {% when "include" %} 
                  {% include {{ bloock }} content=content %}
                {% when "html" %}
                  {{ content }}
                {% when "cloudinary" %}
                  {% cloudinary {{ content }} %}
              {% endcase %}       
          {% endfor %}
      {% endfor %}
      </div>  
      {%- else columns > 1 -%}
      <div class="container {% if modalhero.textcenter %}has-text-centered{% endif %}">
        <div class="columns {{ modalhero.colsclass }}{% if modalhero.aligncenter %} is-vcentered{% endif %}">
          {% for modal in modalist.columns %}
          {% assign name = modal.name %}
          <div class="column {{ modal.colclass }}">
            {% for column in modal.bloocks %}
            {% assign bloock = column.bloock %}
            {% assign content = column.content %}
            {% assign type = column.type | default: 'html' %}
            {% assign bname = column.bname %}    
              {% case type %}
                {% when "include" %} 
                  {% include {{ bloock }} content=content %}
                {% when "html" %}
                  {{ content }}
                {% when "cloudinary" %}
                  {% cloudinary {{ content }} %}
              {% endcase %}       
          {% endfor %}   
          </div> 
          {% endfor %}               
        </div>
      {%- endif -%}
      </div>
    </div>

  

  {%- if modalhero.herofoot or modalhero.iwanticondown=="true" -%}
  <div class="hero-foot">
    <div class="container {% if modalhero.footcenter %}has-text-centered{% endif %}">
      {%- if modalhero.iwanticon=="true" and modalhero.iwanticondown=="true" -%}
      <div class="{{  modalhero.iconhide }} mt-3 pt-3 {{  modalhero.iconclass }}" style="{% if modalhero.iconcss %}{{  modalhero.iconcss }}{% endif %} font-size: {{  modalhero.iconzoom }}; color: rgba({{ iconcolor.rgb }}, {{  modalhero.icontrans }}); z-index:{{  modalhero.icozindex }}; position: absolute;
      {% case iconposition %}
          {% when 'top' %}
              top: {{  modalhero.iconmarginv }}; 
          {% when 'bottom' %}
              bottom: {{  modalhero.iconmarginv }}; 
      {% endcase %}
      {% case iconalign %}
          {% when 'left' %}
          left: {{  modalhero.iconmargin }}; {% when 'right' %}right: {{  modalhero.iconmargin }};
      {% endcase %}
      ">
      <i class="{{  modalhero.iconstyle }} {{  modalhero.icon }} fa-{{  modalhero.iconsize }}x {% if modalhero.fixedwith %}fa-fw{% endif %}"></i>
  </div>
      {%- endif -%}
      {%- if modalhero.herofoot -%}<p class="{% if modalhero.bgcolor=='bd-rainbow' %}has-text-white{% endif %}">{{ modalhero.herofoot }}</p>{% else %}{{ modalhero.herofoot }}{% endif %} 
    </div>
  </div> 
  {%- endif -%}
</div>

{%- if modalhero.separator -%}
{%- include bloocks/helpers/separator.html 
  sepcolor=modalhero.sepcolor
  separator=modalhero.separator
-%}


<div class="hero {{ modalhero.sepcolor }} {{ sepclass }}">
  <div class="hero-body"><div class="container has-text-centered">
  </div></div>
</div>
{%- endif -%}
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>


