<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
  <head>
    {% include bloocks/themes/global/heading.html %}
    <link rel="preload" href="https://tailwindcss.com/_next/static/css/5fcd537d0772fc27917b.css" as="style" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://tailwindcss.com/_next/static/css/5fcd537d0772fc27917b.css" crossorigin="anonymous" data-n-g="" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/css/5372273e477f9b6dc60c.css" as="style" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://tailwindcss.com/_next/static/css/5372273e477f9b6dc60c.css" crossorigin="anonymous" data-n-p="" /><noscript data-n-css="true"></noscript>
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/main-44c9a7efda4faa2264a1.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/webpack-07c5bcab23dc3e52a7c0.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/framework.dc32737cd22c934f019a.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/commons.22d76c353a4f72632887.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/71247caf95475e3ea7f9a0f8a30beb258b23d005.e6e5e87f31fb063f153d.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/pages/_app-1f9ae3994593abbd9632.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/05d954cf.835cff085aa64517430a.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/8107a1e4.f68d61b3437da0efb557.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/2873ef54a53afa39e354cce639a3183ebd0efa83.8c82da0e44b082f95c67.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/a133b10d1c033e187cd4ac8244ed6ddf4351a6c3.cff4864bd60c6088de2d.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/6e63904b73f025a39d1b5c95ac6ff849a78836d4.a6fa46b57bd7d3669165.module.js" as="script" crossorigin="anonymous" />
    <link rel="preload" href="https://tailwindcss.com/_next/static/chunks/pages/index-3738f48fdc90906528e0.module.js" as="script" crossorigin="anonymous" />
  </head>

  <body>


    <!-- ****************************** DO NOT DELETE LINES BELOW **************************************** 
    This include MUST BE at least of /_layout/bloocks_theme_name.html to close the HTML tags below -->
  </body>
</html>
