{% include bloocks/helpers/htmlfields.html %}
{%- assign object      = include -%}
{%- assign columns      = include.columns      | default: 2 -%}
{%- assign content      = include.content      | default: ' ' -%}
{%- assign colsize      = include.colsize      | default: '' -%}
{% assign defclass     = include.defclass   | default: 'columns'  %}


  <div {% include bloocks/helpers/htmltag/htmltag.html
    id=include.id
    style=include.style
    defclass=defclass
    class=include.class
    proprieties=include.proprieties
  %}>
        <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid
          style=include.colstyle
          defclass='column'
          class=include.colsize
          proprieties=include.colproprieties
        %}>
          {{ include.content }}
          {%- assign i = 2 -%}          
        </div>               
        {%- for i in (2..columns) -%}  
        
          {%- case i -%}
            {%- when 2 -%} 
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=colid
          style=include.colstyle2
          defclass='column'
          class=include.colsize2
          proprieties=include.colproprieties2
        %}>    
              {{ include.content2 }}
            </div>  
            {%- when 3 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid3
          style=include.colstyle3
          defclass='column'
          class=include.colsize3
          proprieties=include.colproprieties3
        %}>
              {{ include.content3 }}
              </div>
            {%- when 4 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid4
          style=include.colstyle4
          defclass='column'
          class=include.colsize4
          proprieties=include.colproprieties4
        %}>
              {{ include.content4 }}
            </div>
            {%- when 5 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid5
          style=include.colstyle5
          defclass='column'
          class=include.colsize5
          proprieties=include.colproprieties5
        %}>
              {{ include.content5 }}
            </div>
            {%- when 6 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid6
          style=include.colstyle6
          defclass='column'
          class=include.colsize6
          proprieties=include.colproprieties6
        %}>
              {{ include.content6 }}    
            </div>
            {%- when 7 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid7
          style=include.colstyle7
          defclass='column'
          class=include.colsize7
          proprieties=include.colproprieties7
        %}>
              {{ include.content7 }}    
            </div>
            {%- when 8 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid8
          style=include.colstyle8
          defclass='column'
          class=include.colsize8
          proprieties=include.colproprieties8
        %}>
              {{ include.content8 }}    
            </div>
            {%- when 9 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid9
          style=include.colstyle9
          defclass='column'
          class=include.colsize9
          proprieties=include.colproprieties9
        %}>
              {{ include.content9 }}    
            </div>
            {%- when 10 -%}
            <div {% include bloocks/helpers/htmltag/htmltag.html
          id=include.colid10
          style=include.colstyle10
          defclass='column'
          class=include.colsize10
          proprieties=include.colproprieties10
        %}>
              {{ include.content10 }}    
            </div>
          {%- endcase -%}        
        {%- endfor -%}
  </div>