<nav id="cookie-notice" class="navbar has-background-light has-shadow has-navbar-fixed-bottom">
    <nav class="level pl-5 pr-5 mb-0">
     <div class="level-left">  
      <div class="level-item has-text-centered">
        <div class="navbar-item">
          <p>We would like to use third party cookies and scripts to improve the functionality of this website.</p>
        </div>
      </div>
     </div>
     <div class="level-right mt-0">
      <div class="level-item has-text-centered">
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                  <a id="cookie-notice-accept" class="bd-tw-button button">
                    Approve
                  </a>
                </p>
                <p class="control">
                  <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.1/bulma-0.9.1.zip">
                      More info
                  </a>
                </p>
              </div>
        </div>
      </div></div>
    </nav>
    </nav>
<nav id="cookie-notice" class="navbar has-background-light has-shadow has-navbar-fixed-bottom">

    <div class="container is-fluid is-size-5-desktop">
      <div class="navbar-start">
          <span class="navbar-item">We would like to use third party cookies and scripts to improve the functionality of this website.</span>
       
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a id="cookie-notice-accept" class="bd-tw-button button">
                Approve
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.1/bulma-0.9.1.zip">
                  More info
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>