{% assign modal = site.data.modal.modal | default: 'default' %}
{% assign modalmethod = include.modalmethod | default: 'timed' %}
{% assign modaltrigger = include.modaltrigger | default: '3000' %}
{% assign modalfrequency = include.modalfrequency | default: '1' %}
{% assign modalanimation = include.modalanimation | default: 'bd-focus-css3' %}

{% case modalmethod %}
  {% when "timed" %}
    <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}{{ modaltrigger }}" class="modal-monitor hero {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="{{ modaltrigger }}" data-frequency="{{ modalfrequency }}">

  {% when "scroll" %}
     <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}{{ modaltrigger }}" class="modal-monitor hero {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="{{ modaltrigger }}" data-frequency="{{ modalfrequency }}">

  {% when "exit" %}
     <div class="modal-monitor-backdrop modal">
        <div id="{{ modalmethod }}" class="modal-monitor hero {{ modalanimation }}" data-method="{{ modalmethod }}" data-trigger="" data-frequency="{{ modalfrequency }}">
{% endcase %}

{% assign number = site.data.modal.columns %}
{% assign id = number.id %}{{ id }}
<ul>
{% for modal in site.data.modal.columns %}
  {% assign name = modal.name %}
  {% assign id = modal.id %}
  {% assign varname = "col" | append: id }} %}
  {%- capture col{{ id }} -%}
  <p>col{{ id }}</p> 
  <p>firs loop</p>
  {% for column in modal.bloocks %}
    {% assign bloock = column.bloock %}
    {% assign content = column.content %}
    {% assign type = column.type %}
    {% assign bname = column.bname %}    
    <p>second loop</p>
      {% case type %}
        {% when "include" %} 
          {% include {{ bloock }} content=content %}
        {% when "html" %}
          {{ content }}
        {% when "cloudinary" %}
          {% cloudinary {{ content }} %}
      {% endcase %}       
  {% endfor %}
  {%- endcapture -%}
{% endfor %}
</ul>


{% assign hero = site.data.modal.modalhero %}
{% assign colnumber = hero.colnumbers %}

{% include bloocks/hero/loopheroblock.html
iwanticon=hero.iwanticon
iwanticonup=hero.iwanticonup
icon=hero.icon
iconcolor=hero.iconcolor
iconposition=hero.iconposition
iconsize=hero.iconsize
iconzoom=hero.iconzoom
iconstyle=hero.iconstyle
iconmargin=hero.iconmargin
iconmarginv=hero.iconmarginv
iconalign=hero.iconalign
icontrans=hero.icontrans
icozindex=hero.icozindex
iconclass=hero.iconclass
iconhide=hero.iconhide
content=col1
content2=col2
bgcolor=hero.bgcolor
class=hero.class
bold=hero.boldtrue
textcenter=hero.textcentertrue
herofoot=hero.herofoot
footcenter=hero.footcentertrue
htmlelement=hero.htmlelement
%}
{%- if page.modalseparator -%}
{%- include bloocks/helpers/separator.html 
  sepcolor=page.modalsepcolor
  separator=page.modalseparator
-%}
<div class="hero {{ page.modalsepcolor }}{% if page.modalseparatorsize %} {{ page.modalseparatorsize }}{% else %} is-fullheight-with-navbar{% endif %}">
  <div class="hero-body"><div class="container has-text-centered">






  </div></div>
</div>{%- endif -%}
</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>
