<footer class="footer">
  <div class="container">
    <!--<div class="columns">
      <div class="column is-4">
        {% comment %}
        {% include footer/about.html %}
        {% endcomment %}
      </div>
      <div class="column is-4">
        {% comment %}
        {% include footer/contribute.html %}
        {% endcomment %}        
      </div>
      <div class="column is-4">
        {% comment %}
        {% include footer/share.html %}
        {% endcomment %}           
      </div>
    </div>--> 
    {% include footer/links.html %}
  </div>
</footer>
