---

---
<!-- Bloocks Theme constructor -->

{% include bloocks/themes/default/header.html %}


<main class=" overflow-x-hidden antialiased"> 
  {% assign menu = site.menus.header %}
  {% include bloocks/themes/menu/main.html %}
  {{ content }}

  {% include bloocks/themes/default/footer.html %}
</main>

{% include bloocks/themes/default/scripts.html %}

<!-- ****************************** DO NOT DELETE LINES BELOW **************************************** 
    This include MUST BE at least of /_layout/bloocks_theme_name.html to close the HTML tags -->
    {% include bloocks/themes/global/end.html %}
