---
layout: compress
---
<!-- Bloocks Theme constructor -->

{% include bloocks/themes/flare/header.html %}



{% include bloocks/themes/flare/css.html %}

<main> 
  {% include bloocks/themes/flare/menu.html %}
  {{ content }}
</main>
  {% include bloocks/themes/flare/footer.html %}

  {% include bloocks/themes/global/scripts.html %}
{% include bloocks/themes/flare/scripts.html %}

<!-- ****************************** DO NOT DELETE LINES BELOW **************************************** 
    This include MUST BE at least of /_layout/bloocks_theme_name.html to close the HTML tags -->
{% include bloocks/themes/global/end.html %}