---
layout: compress
---
<!-- Bloocks Theme constructor -->

{% include bloocks/themes/amp/header.html %}


{% include bloocks/themes/amp/menu.html %}
<main>
<div>
  <div>
    {{ content }}
  </div>
  <!-- h-screen class for 100hv height -->
  <div>
    {% include bloocks/themes/amp/aside.html %}
  </div>
</div>
</main>
{% include bloocks/themes/amp/footer.html %}

{% include bloocks/themes/amp/scripts.html %}



<!-- ****************************** DO NOT DELETE LINES BELOW **************************************** 
    This include MUST BE at least of /_layout/bloocks_theme_name.html to close the HTML tags below -->
  </body>
</html>