---

---
<!-- Bloocks Theme constructor -->

{% include bloocks/themes/default/header.html %}



{% include bloocks/themes/default/css.html %}

  {{ content }}
  {% include bloocks/themes/default/footer.html %}


{% include bloocks/themes/default/scripts.html %}

<!-- ****************************** DO NOT DELETE LINES BELOW **************************************** 
    This include MUST BE at least of /_layout/bloocks_theme_name.html to close the HTML tags below MUST CONTAIN THE class"end" for deployng purposes -->
  </body class="end">
</html>