{% include bloocks/helpers/htmlfields.html %}

<div class="card has-text-left">
  {% if include.image %}
  <div class="card-image">
    <figure class="image is-4by3">
      {% cloudinary {{ include.image }} %}
    </figure>
  </div>
  {% endif %}
  <div class="card-content">
    <div class="media">
      {% if include.avatar %}
      <div class="media-left">
        <figure class="image is-48x48">
          {% cloudinary {{ include.avatar }} %}
        </figure>
      </div>
      {% endif %}
      <div class="media-content">
        {% if include.title %}<p class="title is-4 has-text-black">{{ include.title }}</p>{% endif %}
        {% if include.subtitle %}<p class="subtitle is-6 has-text-black">{{ include.subtitle }}</p>{% endif %}
      </div>
    </div>

    <div class="content">
      {{ include.content }}
    </div>
  </div>
</div>

