{% include bloocks/helpers/htmlfields.html %}
{%- assign columns      = include.columns      | default: 1 -%}
{%- assign herohead     = include.herohead                     -%}
{%- assign herofoot     = include.herofoot                     -%}
{%- assign content      = include.content      | default: ' ' -%}
{%- assign class        = include.class        | default: 'is-fullheight' -%}
{%- assign bgcolor      = include.bgcolor      | default: 'is-primary' -%}
{%- assign colsize      = include.colsize      | default: '' -%}
{%- assign bgimage      = include.bgimage     -%}
{%- if include.separator -%}
{%- include bloocks/helpers/separator.html 
  sepcolor=include.bgcolor
  separator=include.separator
-%}
{%- endif -%}
<!--{%- if include.bgimage -%}
{% capture backgroundimage %}
{% cloudinary {{ bgimage }} class="hero-background is-transparent" alt="Background image!" %}
{% endcapture %}
{%- endif -%}-->
<{{ htmlelement }} {% if include.id %}id="{{ id }}" {% endif %}{% if include.style %}style="{{ style }}" {% endif %}class="{% if defclass contains 'true' %}hero {% endif %}{% if include.bgimage %}has-background {% endif %}{{ bgcolor }} {% if include.bold %}is-bold {% endif %}{{ class }}{% if include.bgcolor=='bd-rainbow' %} bd-is-love{% endif %}"{% if include.proprieties %} {{ proprieties }}{% endif %}>
  {% if include.bgimage %}{{ backgroundimage }}{% endif %}
  {%- if include.herohead or include.iwanticonup=="true" -%}
  <div class="hero-head">
    <div class="container {% if include.headcenter %}has-text-centered{% endif %}">
      {%- if include.iwanticon=="true" and include.iwanticonup=="true" -%}
      {%- include bloocks/helpers/heroicon.html 
        -%}
      {%- endif -%}
      {{ herohead }}
    </div>
  </div>
  {%- endif -%}
  <div class="hero-body">
    {%- if columns == 1 -%}
    <div class="container{% if include.textcenter %} has-text-centered{% endif %}{% if include.aligncenter %} is-vcentered{% endif %}">
      {{ include.content }}
    </div>  
    {%- else columns > 1 -%}
    <div class="container {% if include.textcenter %}has-text-centered{% endif %}">
      <div class="columns {{ include.colsclass }}{% if include.aligncenter %} is-vcentered{% endif %}">
        <div class="column {{ colsize }}">
          {{ include.content }}
          {%- assign i = 2 -%}          
        </div>               
        {%- for i in (2..columns) -%}        
         
          {%- case i -%}
            {%- when 2 -%} 
            <div class="column {{ include.colsize2 }}">    
              {{ include.content2 }}
            </div>  
            {%- when 3 -%}
            <div class="column {{ include.colsize3 }}">
              {{ include.content3 }}
              </div>
            {%- when 4 -%}
            <div class="column {{ include.colsize4 }}">
              {{ include.content4 }}
            </div>
            {%- when 5 -%}
            <div class="column {{ include.colsize5 }}">
              {{ include.content5 }}
            </div>
            {%- when 6 -%}
            <div class="column {{ include.colsize6 }}">
              {{ include.content6 }}    
            </div>
            {%- when 7 -%}
            <div class="column {{ include.colsize7 }}">
              {{ include.content7 }}    
            </div>
            {%- when 8 -%}
            <div class="column {{ include.colsize8 }}">
              {{ include.content8 }}    
            </div>
            {%- when 9 -%}
            <div class="column {{ include.colsize9 }}">
              {{ include.content9 }}    
            </div>
            {%- when 10 -%}
            <div class="column {{ include.colsize10 }}">
              {{ include.content10 }}    
            </div>
          {%- endcase -%}
        
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div>
  </div>
  {%- if include.herofoot or include.iwanticondown=="true" -%}
  <div class="hero-foot">
    <div class="container {% if include.footcenter %}has-text-centered{% endif %}">
      {%- if include.iwanticon=="true" and include.iwanticondown=="true" -%}
      {%- include bloocks/helpers/heroicon.html 
        -%}
      {%- endif -%}
      {%- if include.herofoot -%}<p class="{% if include.bgcolor=='bd-rainbow' %}has-text-white{% endif %}">{{ herofoot }}</p>{% else %}{{ herofoot }}{% endif %} 
    </div>
  </div> 
  {%- endif -%}
</{{ htmlelement }}>



